<div>
    <form class="form"
      [formGroup]="myForm"
      (ngSubmit)="send()"
      novalidate>
      <mat-form-field class="demo-full-width">
        <mat-select formControlName="type" placeholder="Field Type">
          <mat-option *ngFor="let ftype of fTypes" [value]="ftype">{{ftype | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="demo-full-width">
        <input matInput type="text" name="name" formControlName="name" placeholder="Field Name">
      </mat-form-field>
      <mat-form-field class="demo-full-width">
          <input matInput type="text" name="label" formControlName="label" placeholder="Field Label">
      </mat-form-field>
      <mat-form-field class="demo-full-width">
        <mat-select formControlName="inputType" placeholder="Input Type">
          <mat-option *ngFor="let input of inputTypes" [value]="input">{{input | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="demo-full-width">
          <mat-chip-list #chipList>
            <mat-chip color="accent" *ngFor="let option of fOptions" [selectable]="selectable"
             [removable]="removable" (removed)="remove(option)">
              {{option}} <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

          <input [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)" [matChipInputFor]="chipList"
           id="options"
          placeholder="Field Options">
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field class="demo-full-width">
          <input matInput type="text" name="value" formControlName="value" placeholder="Default Value">
      </mat-form-field>
      <mat-form-field class="demo-full-width">
          <input matInput type="text" name="unit" formControlName="unit" placeholder="Unit Suffix">
      </mat-form-field>


      <!-- <div class="panel panel-default" formGroupName="validations"> -->
          <fieldset formArrayName="validations">
            <div *ngFor="let val of myForm.controls['validations'].controls; let i = index;">
              <div>
                <span>Validations {{i + 1}}</span>
                <button mat-raised-button mat-icon-button color="warn" (click)="removeValidation(i)"> <mat-icon>delete</mat-icon> </button>
              </div>
              <div [formGroupName]="i">
                  <mat-form-field class="demo-full-width">
                      <input matInput type="text" name="name" formControlName="name" placeholder="Validation Name">
                  </mat-form-field>
                  <mat-form-field class="demo-full-width">
                    <mat-select formControlName="validator" placeholder="Validator">
                      <mat-option value="Required">Required</mat-option>
                      <mat-option value="Pattern">Pattern</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="demo-full-width ">
                      <input matInput type="text" name="validator" formControlName="validatorValue" placeholder="Validator Value">
                  </mat-form-field>

                  <mat-form-field class="demo-full-width">
                      <input matInput type="text" name="message" formControlName="message" placeholder="Validation Message">
                  </mat-form-field>


              </div>
            </div>
            <button mat-raised-button color="primary" (click)="addValidation()">Add Validation</button>
          </fieldset>
      <button class="btn btn-primary"
        >send</button>
    </form>
    {{fields | json}}
  </div>

